/* Global Header */
#header {
  background-color: #a5643b;
  height: 100px;
  margin-bottom: 8px;
}
body {
  background-image: url(./images/background.png);
  background-color: #673516;
}
.btn-mood {
  display: block;
  margin: 0 auto;
  background-color: black;
  color: white;
  border: none;
  text-align: center;
  border-radius: 23px;
  padding-left: 20%;
  padding-right: 20%;
}
.btn-change-playlist {
  display: block;
  margin: 0 auto;
  background-color: black;
  color: white;
  border: none;
  text-align: center;
  border-radius: 23px;
  padding-left: 15%;
  padding-right: 15%;
}
.drink-block {
  width: 100%;
  
}

button:focus {
  outline: none;
}

#change-mood{
    right: 2px;
    margin-top: 5px;
    padding-left: 6px;
    padding-right: 8px;
    margin-bottom: 5px;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 1);

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  width: 55%;
  margin-left: 2%;
  margin-top: -5px;
  
}
.dropdown-item {
  text-align: center;
  color: white;
}
.dropdown-divider {
  width: 100%;
  color: rgba(255, 255, 255, 0.50);
}
 
#instructions{
  text-align: justify;
  text-justify: inter-word;
} 

#spotify-playlist{
  padding-left: 30px;
}

/* Home Page Image Styles */

.img-1 {
  position: relative;
  height: 300px;
  width: 300px;
}

.img-1 img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.img-2 {
  position: relative;
  height: 300px;
  width: 300px;
}

.img-2 img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.img-3 {
  position: relative;
  height: 300px;
  width: 300px;
}

.img-3 img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.img-4 {
  position: relative;
  height: 300px;
  width: 300px;
}

.img-4 img {
  position: absolute;
  left: 0;
  bottom: 0;
}


